h1.topic {
    font-family: Autour One;
    font-variant: small-caps;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

div.info {
    font-family: Autour One;
}

div.exeList {
    font-family: Autour One;
}

body {
    background-image: url('Schedular%20back.png');
    color: #fada5e;
}

div.info > input {
    padding: 2px;
    margin: 5px;
    border-bottom: 2px solid #1d546f;
    border-right: 3px solid #18596f;
    border-bottom-right-radius: 15px;
}